# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
.gradle/
local.properties
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild
.cxx

# App build
/app/build

# Python
venv/
__pycache__/
*.pyc

# Misc
*.log
*.swp
*~
.env
*.keystore
